.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-background{
  width: 100%;
  z-index: -1;
}

.App-group-info{
  text-align: center;
  list-style: none;
  display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 32% 103px auto;
    text-transform: uppercase;
}

.App-group-info span{
  color:red;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
